* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #ffffff;
    height: 70px;
}

logo img {
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}

.toboo {
    font-size: 40px;
    text-align: middle;
}

.container {
    width: 80%;
    background-color: #ffffff;
    max-width: 1100px;
    margin: 50px auto;
    vertical-align: middle;
}

.topbutton {
    display: inline-block;
    text-align: center;
    font-size: small;
    border-radius: 5px;
    margin: 10px auto;
    margin-left: 15px;
}

.task {
    color: #ffffff;
    height: 20px;
    width: 70px;
    background-size: 20px 10px;
    background-color: cornflowerblue;
    border: 0;
}

.section {
    color: lightgrey;
    height: 20px;
    width: 75px;
    background-color: white;
    border: 1px solid lightgrey;
}



.divider {
    border-color: lightgrey;
    margin-top: 0;
    margin-bottom: 15px;
}

.main-list {
    list-style: none;
    margin: 25px auto;
    width: 80%;
}

.list-sett {
    list-style: none;
    margin: 20px auto;
    width: 80%;
}

.ulsett {
    margin-top: 20px;
    list-style: none;
}

#verify {
    display: inline-block;
    font-size: smaller;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
}

.check {
    color: lawngreen;
    border: 1px solid lawngreen;
    †
}

.cross {
    color: red;
    border: 1px solid red;
}


.category {
    display: inline-block;
    height: 20px;
    width: 70px;
    text-align: center;
    color: #ffffff;
    font-size: small;
    border-radius: 10px;
    vertical-align: auto;
}

.editorial {
    background-color: cornflowerblue;
}

.q1goals {
    background-color: mediumpurple;
}

.recru {
    background-color: mediumseagreen;
}

.mobile {
    background-color: orange;
}

.web {
    background-color: palevioletred;
}

.sales {
    background-color: yellowgreen;
}

